body {
	width: 100wh;
	height: 90vh;
	color: #454140;
	background: linear-gradient(-45deg, #d5f4e6, #80ced6, #fefbd8, #618685);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 4%;
	right: 0;
	left: 0;
}

.box {
	box-sizing: content-box;
	width: 33%;
	

}

.left {
   float: left;
   padding: 0 20px 20px 0;
}
.sectionbox{
  width:92%;
  height:206px;
  border:1px solid black;
}

.divide {
    column-count: 2;
} 