.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

body {
    background-color: #34495E;
    color: #F8F8F8;
    background-size: cover;
    background-image: url('videochatbg.PNG');
    background-repeat: no-repeat;
    opacity: 0.8;
}

.footerset {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em
}

.hrset{
    position: absolute;
    right: 0;
    bottom: -100;
    left: 0;
    padding: 1rem;
}

.content {
  width: 600px;
  margin: auto;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding:30px;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin-heading,.checkbox {
	  margin-bottom: 30px;
}

.checkbox {
    height: 25px;
    width: 25px;
}

.form-group{
    padding:15px;
}

.btn-primary{
    margin-left: 227px;
}


.democonsole {
  position: relative;
  bottom: 20px;
  left: 0px;
  z-index: 100;

  height: 30%;
  width: 100%;

  font-family: monospace;
  overflow-y: auto;
}

.democonsole ul {
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

.democonsole ul li {
  padding-left: 14px;
  margin-bottom: 5px;
  display: flex;
}

.democonsole ul li:before {
  color: #888;
  content: '>';
  font-weight: bold;
  position: absolute;
  margin-left: -14px;
}

.democonsole ul li > * {
  margin-right: 8px;
}

.democonsole ul li.info:before {
  content: 'ℹ';
}

.democonsole ul li.error:before {
  content: '☠';
}

.democonsole ul li.warn:before {
  content: '⚠';
}

span[data-type=""] {
  font-weight: bold;
}

span[data-type="number"], span[data-type="boolean"] {
  color: navy;
}

span[data-type="string"] {
  color: green;
  white-space: pre;
}

span[data-type="key"] {
  vertical-align: top;
}

span[data-type="info"] {
  color: blue;
}

span[data-type="error"] {
  color: red;
}

span[data-type="warn"] {
  color: yellow;
}

div[data-type="object"] {
  display: inline-block;
}

div[data-type="object-key"] {
  margin-left: 20px;
}

.comma-float {
  clear: both;
  float: left;
  color: #222;
}

