doctype html
html
	head
		title Knowledgebase
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/aboutstyle.css')
		link(rel='stylesheet' href='/css/font-awesome.css')
		link(rel='stylesheet' href='/css/font-awesome.min.css')
		
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300', type='text/css')
		
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/').logo.icon.fa-video-camera TalkActive
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/articles/add') About Us
						if user
							li
								a(href='/articles/videoconference') Video Conference
							li
								a(href='/articles/chat') Chat
					ul.nav.navbar-nav.navbar-right
						if user
							li 
								a(href='/users/logout') Logout
						else
							li
								a(href='/users/register') Register
							li
								a(href='/users/login') login
									 

						
					
				
		.container
		
			!= messages('message', locals)
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}
			block content
			br
			hr
			
		script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.js')
		script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(type='text/javascript', src='/js/main.js')
		