extends aboutlayout

block content
    h1(style='z-index: 1;')
        | A 
        span Free and Better
        |  Way to Make Video Calls
    br
    br
    
    .divide
        .sectionbox
            section
                img.box.left(src='http://www.pvhc.net/img164/svzrxxipdlxrwstsuqpl.png', alt='Make Free Video Calls')
                h2(style='z-index: 1;')
                    a(href='#') Make Free Video Calls
                p(style='z-index: 1;')
                    | It’s easy and even free to call over the Web. Make calls between any two computers – works on Windows, Mac and Linux.
        br
        br
        .sectionbox
            section
                img.box.left(src='https://cdn4.iconfinder.com/data/icons/human-behaviour-and-situations-part-2/400/humans-07-128.png', alt='Make Free Video Calls')
                h2(style='z-index: 1;')
                    a(href='#') Face-to-Face…
                p(style='z-index: 1;')
                    | See and hear each other via your computer. Never have you felt closer to someone through a video calling service.
    br
    br
    .divide
        .sectionbox
            section
                img.box.left(src='https://cdn3.iconfinder.com/data/icons/watchify-v1-0-80px/80/remove-80px-128.png', alt='With No Downloads!')
                h2(style='z-index: 1;')
                    a(href='#') With No Downloads!
                p(style='z-index: 1;')
                    | Unlike other video call and conference systems, TalkActive is 100% download free! Just login to the website and call – easy.
        br
        br            
        .sectionbox
            section
                img.box.left(src='https://cdn3.iconfinder.com/data/icons/logistics/256/Stopwatch-128.png', alt='With No Downloads!')
                h2(style='z-index: 1;')
                    a(href='#') Start meetings in seconds
                p(style='z-index: 1;')
                    | because there are no viewer downloads.
    br
    br
    
    
    .divide
        .sectionbox
            section
                img.box.left(src='https://cdn1.iconfinder.com/data/icons/business-icons-2-4/512/Business_icon-15-128.png', alt='Save money!')
                h2(style='z-index: 1;')
                    a(href='#') Save money
                p(style='z-index: 1;')
                    | with unlimited conference calling and no hidden fees.
        br
        br
        .sectionbox
            section
                img.box.left(src='https://static1.squarespace.com/static/5278144ee4b012c43bea0e11/t/5720f6c0f85082c489b98d5e/1389892908774/iconmonstr-gear-icon-256.png', alt='Features')
                h2(style='z-index: 1;')
                    a(href='#') Collaborate with great features
                p(style='z-index: 1;')
                    | like video conferencing, chatting..
                    
    