extends layout
block content
    script.
        if(!location.hash.replace('#', '').length) {
        location.href = location.href.split('#')[0] + '#' + (Math.random() * 100).toString().replace('.', '');
        location.reload();
        }
    title WebRTC Text Chat / Data Sharing 
    		
    link(rel='author', type='text/html', href='https://plus.google.com/100325991024054712503')
    	
    script.
        var hash = window.location.hash.replace('#', '');
        if (!hash.length) location.href = location.href + '#text-chat-' + ((Math.random() * new Date().getTime()).toString(36).toLowerCase().replace( /\\./g , '-'));
    
    style.
        html { background: #eee; }
        body {
        font-family: "Inconsolata", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
        font-size: 1.2em;
        line-height: 1.2em;
        margin: 0;
        }
        body {
        background: #fff;
        border: 1px solid;
        border-color: #ddd #aaa #aaa #ddd;
        border-radius: 5px;
        margin: .5em auto 0 auto;
        padding: .8em;
        padding-top: 0;
        }
        h1, h2 {
        border-bottom: 1px solid black;
        display: inline;
        font-weight: normal;
        line-height: 36px;
        padding: 0 0 3px 0;
        }
        h1 {
        background: rgb(238, 238, 238);
        border-bottom-width: 2px;
        display: block;
        margin-top: 0;
        padding: .3em;
        text-align: center;
        }
        :-moz-any-link:focus {
        border: 0;
        color: #000;
        }
        ::selection { background: #ccc; }
        ::-moz-selection { background: #ccc; }
        button {
        -moz-border-radius: 3px;
        -moz-transition: none;
        -webkit-transition: none;
        background: #0370ea;
        background: -moz-linear-gradient(top, #008dfd 0, #0370ea 100%);
        background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
        border: 1px solid #076bd2;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-family: inherit;
        font-size: .8em;
        line-height: 1.3;
        padding: 5px 12px;
        text-align: center;
        text-shadow: 1px 1px 1px #076bd2;
        }
        button:hover { background: rgb(9, 147, 240); }
        button:active { background: rgb(10, 118, 190); }
        button[disabled] {
        background: none;
        border: 1px solid rgb(187, 181, 181);
        color: gray;
        text-shadow: none;
        }
        footer { text-align: center; }
        code {
        color: rgb(204, 14, 14);
        font-family: inherit;
        }
        pre {
        border-left: 2px solid red;
        margin-left: 2em;
        padding-left: 1em;
        }
        input { font-size: 2em; }
        #chat-table blockquote {
        border: 1px dotted gray;
        margin: 1em 5em;
        padding: 1em 2em;
        }
        #chat-table blockquote hr {
        border: 0;
        border-top: 1px dotted #BBA9A9;
        margin: 1em -2em;
        }
        .user-id {
        border-right: 1px solid gray;
        float: left;
        height: 1em;
        margin: 0 2em;
        overflow: hidden;
        padding: 0 1em;
        text-align: right;
        width: 3%;
        }
        .message {
        border-bottom: 1px solid gray;
        margin-left: 6em;
        }
    
    body
        h1
            | WebRTC Text Chat 
        section
            h2 Setup a new connection:
            button#setup-new-connection Setup New Data Connection
        script.
            var roomid = window.location.hash.substr(1);
            var connection = new DataConnection();
            connection.onopen = function(e) {
            document.getElementById('chat-input').disabled = false;
            useridBox.disabled = false;
            appendDIV('Data connection opened between you and ' + e.userid, e.userid);
            };
            connection.onmessage = function(message, userid) {
            console.debug(userid, 'says', message);
            appendDIV(message, userid);
            };
            // on data connection error
            connection.onerror = function(e) {
            console.debug('Error in data connection. Target user id', e.userid, 'Error', e);
            };
            // on data connection close
            connection.onclose = function(e) {
            console.debug('Data connection closed. Target user id', e.userid, 'Error', e);
            };
            /* custom signaling gateway
            connection.openSignalingChannel = function(callback) {
            return io.connect().on('message', callback);
            };
            */
            // using firebase for signaling
            // connection.firebase = 'signaling';
            var channel = location.href.replace(/\/|:|#|%|\.|\[|\]/g, '');
            var sender = Math.round(Math.random() * 999999999) + 999999999;
            var SIGNALING_SERVER = 'https://webrtcweb.com:9559/';
            io.connect(SIGNALING_SERVER).emit('new-channel', {
            channel: channel,
            sender: sender
            });
            var socket = io.connect(SIGNALING_SERVER + channel);
            socket.on('connect', function () {
            // setup peer connection & pass socket object over the constructor!
            });
            socket.send = function (message) {
            socket.emit('message', {
            sender: sender,
            data: message
            });
            };
            connection.openSignalingChannel = function(callback) {
            return socket.on('message', callback);
            };
            // if someone leaves; just remove his video
            connection.onuserleft = function(userid) {
            appendDIV(userid + ' Left.', userid);
            };
            // check pre-created data connections
            connection.check(roomid);
            document.getElementById('setup-new-connection').onclick = function() {
            // setup new data connection
            connection.setup(roomid);
            this.disabled = true;
            this.parentNode.innerHTML = '<h2><a href="' + location.href + '" target="_blank">Share this link</a></h2>';
            };
            var chatOutput = document.getElementById('chat-output');
            function appendDIV(data, userid) {
            var div = document.createElement('div');
            div.innerHTML = '<section class="user-id" contenteditable title="Use his user-id to send him direct messages or throw out of the room!">' + userid + '</section>'
            + '<section class="message" contenteditable>' + data + '</section>';
            chatOutput.insertBefore(div, chatOutput.firstChild);
            div.tabIndex = 0;
            div.focus();
            chatInput.focus();
            }
            var chatInput = document.getElementById('chat-input');
            var useridBox = document.getElementById('user-id');
            chatInput.onkeypress = function(e) {
            if (e.keyCode !== 13 || !this.value) return;
            if (useridBox.value.length) {
            var user = connection.channels[useridBox.value];
            if (user) user.send(this.value);
            else return alert('No such user exists.');
            } else connection.send(this.value);
            appendDIV(this.value, 'Me');
            this.value = '';
            this.focus();
            };
        br
        br
        pre.
            
       
