doctype html
html
	head
		title Knowledgebase
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='/css/font-awesome.css')
		link(rel='stylesheet' href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/main.css')
		//link(rel='stylesheet' href='https://cdn.webrtc-experiment.com/style.css')
		// scripts used for video-conferencing
		script(src='https://cdn.webrtc-experiment.com/socket.io.js')
		script(src='https://cdn.webrtc-experiment.com/RTCPeerConnection-v1.5.js')

		// script used to stylize video element
		script(src='https://cdn.webrtc-experiment.com/getMediaElement.min.js')
		// code styling; below 4-scripts are useless for you!
		script(src='https://cdn.webrtc-experiment.com/syntax/sh_main.min.js', type='text/javascript')
		script(src='https://cdn.webrtc-experiment.com/syntax/sh_javascript.min.js', type='text/javascript')
		script(src='https://cdn.webrtc-experiment.com/syntax/sh_html.min.js', type='text/javascript')
		script(src='https://cdn.webrtc-experiment.com/video-conferencing/conference.js')
		script(src='/js/jquery.min.js')
		script(src='/js/skel.min.js')
		script(src='/js/util.js')
		//if lte IE 8
		script(src='/js/ie/respond.min.js')
		script(src='/js/main.js')
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/').logo.icon.fa-video-camera TalkActive
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/articles/add') About Us
						if user
							li
								a(href='/articles/videoconference') Video Conference
							li
								a(href='/articles/chat') Chat
					ul.nav.navbar-nav.navbar-right
						if user
							li 
								a(href='/users/logout') Logout
						else
							li
								a(href='/users/register') Register
							li
								a(href='/users/login') login
		.content
		
			!= messages('message', locals)
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}
			block content
			br
			hr
			
		script(type='text/javascript', src='../../bower_components/jquery/dist/jquery.js')
		script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(type='text/javascript', src='/js/main.js')
		