extends indexlayout
block content
    html
        body
        // Header
        #header
            span.logo.icon.fa-video-camera
            h1 Hi. There!!
            p
                | Get in touch with your buddies! Let's Livetalk
        // Main
        #main
            header.major.container(class='75%')
                h2
                    | We help you to connect with people.
                    br
                    | 					create and join room and 
                    br
                    | 					have fun!
                //
                    <p>Tellus erat mauris ipsum fermentum<br />
                    etiam vivamus nunc nibh morbi.</p>
            .box.alt.container
                section.feature.left
                    a.image.icon.fa-pencil
                        img(src='/images/pic01.jpg', alt='')
                    .content
                        h3 Register 
                        p
                            | Register to TalkActive by signing up with valid credentials on register section. 
                section.feature.right
                    a.image.icon.fa-user
                        img(src='/images/pic02.jpg', alt='')
                    .content
                        h3 Login
                        p
                            | Login and meet friends or make your own chat room.
                section.feature.left
                    a.image.icon.fa-camera
                        img(src='/images/pic03.jpg', alt='')
                    .content
                        h3 Talk
                        p
                            | When opening up our Video Conference section, you will be presented with room that has shared link with you.
            footer.major.container(class='75%')
                h3 Get ready to connect with everyone
                br
                h4 Helpful Tips
                p
                    | Make sure that your webcam is activated before entering a chat room. Don't enter chat rooms if you aren't truly interested in that type of conversation. Avoid giving out personal information in public chat rooms.
                ul.actions
                    li
                        a.button(href='/users/login') Get Started