extends layout

block content
    .wrapper
    h1 Login
    form(method='POST', action='/users/login')
    
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-user
                input#username.form-control(type='text', name='username', placeholder='Enter Your username')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-lock
                input#password.form-control(type='password', name='password', placeholder='Password')
            br
            <input type="checkbox" value="remember-me" /> Remember me
            a(href='/users/register') New User? Sign Up 
        br
        input.btn.btn-primary(type='submit',value='Submit')