extends layout

block content
    h1 Register
    form(method='POST', action='/users/register')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-user
                input#name.form-control(type='text', name='name', placeholder='Enter your name')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-envelope
                input#email.form-control(type='text', name='email', placeholder='Enter your email')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-user
                input#username.form-control(type='text', name='username', placeholder='Enter your username')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-lock
                input#password.form-control(type='password', name='password', placeholder='Password')
        .form-group
            .input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-lock
                input#password2.form-control(type='password', name='password2', placeholder='Confirm Password')
        br
        input.btn.btn-primary(type='submit',value='Submit')